{% if items|length > 0 %}
  <div class="flyntComponent {{ options.theme }}" is="flynt-grid-projects-latest">
    <div class="container">
      {% if preContentHtml %}
        <h3 class="preContent">
          {{ preContentHtml|e('wp_kses_post') }}
        </h3>
      {% endif %}
      <ul class="grid">
        {% for item in items %}
          <li class="grid-item">
            <div class="content">
              <a href="{{ item.link }}" class="content-link" title="{{ item.title }}">
                <img class="content-image lazyload"
                  src="{{ item.thumbnail.src|resizeDynamic(424, 283) }}"
                  srcset="{{ placeholderImage(3, 2) }}"
                  data-srcset="
                    {{ item.thumbnail.src|resizeDynamic(1920, 1280) }} 1920w,
                    {{ item.thumbnail.src|resizeDynamic(1320, 880) }} 1320w,
                    {{ item.thumbnail.src|resizeDynamic(1280, 853) }} 1280w,
                    {{ item.thumbnail.src|resizeDynamic(1050, 700) }} 1050w,
                    {{ item.thumbnail.src|resizeDynamic(750, 500) }} 750w,
                    {{ item.thumbnail.src|resizeDynamic(600, 400) }} 600w,
                    {{ item.thumbnail.src|resizeDynamic(424, 283) }} 424w,
                    {{ item.thumbnail.src|resizeDynamic(312, 208) }} 312w"
                  data-sizes="auto"
                  alt="{{ item.thumbnail.alt|e }}">
                <div class="content-inner">
                  <h2 class="content-title">{{ item.title }}</h2>
                  <p class="content-excerpt">{{ item.introHtml|e('wp_kses_post')|excerpt(18) }}</p>
                </div>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
      <div class="allPostsLink">
        <a href="{{ postTypeArchiveLink }}" class="link">{{ labels.allPosts }}</a>
      </div>
    </div>
  </div>
{% endif %}
