{% extends 'templates/_document.twig' %}

{% block content %}
  {% for component in post.meta('pagenavigationComponents') %}
    {{ renderComponent(component) }}
  {% endfor %}
  <article class="post">
    {% for component in post.meta('spaceheaderComponents') %}
      {{ renderComponent(component) }}
    {% endfor %}
    <header class="post-header componentSpacing notFullWidth">
      <div class="left">
        <h1 class="title">{{ post.title }}</h1>
        <div class="meta">
          {% if post.yearProject %}
          <div>
            <span>Date</span>
            <span>{{ post.yearProject|e('wp_kses_post') }}</span>
          </div>
          {% endif %}
          {% if post.postCity %}
          <div>
            <span>City</span>
            <span>{{ post.postCity|e('wp_kses_post') }}</span>
          </div>
          {% endif %}
          {% if post.postCountry %}
          <div>
            <span>Country</span>
            <span>{{ post.postCountry|e('wp_kses_post') }}</span>
          </div>
          {% endif %}
          {% if post.postWhat %}
          <div>
            <span>What</span>
            <span>{{ post.postWhat|e('wp_kses_post') }}</span>
          </div>
          {% endif %}
        </div>
      </div>
      <div class="right">
        {% if post.introHtml %}
          <div class="intro">{{ post.introHtml|e('wp_kses_post') }}</div>
        {% endif %}
      </div>
    </header>
    {% if post.thumbnail %}
    <div class="post-featuredImage componentSpacing">
      <img src="{{ post.thumbnail }}"
      data-srcset="{{function('wp_get_attachment_image_srcset', post.thumbnail.id)}}"
      data-sizes="auto">
      {% if post.thumbnail.caption %}
        <figcaption class="figure-caption small">{{ post.thumbnail.caption|e }}</figcaption>
      {% endif %}
    </div>
    {% endif %}
    <section class="post-main">
      {% for component in post.meta('spaceComponents') %}
        {{ renderComponent(component) }}
      {% endfor %}
    </section>
    {# <section class="post-related">
      {{ renderComponent('GridPostsLatest', {'preContentHtml': '<h2>' ~ __('Related Posts') ~ '</h2>','taxonomies': post.categories(), 'options': {'theme': 'themeLight', 'columns': 3}}) }}
    </section> #}
  </article>
{% endblock %}
