{% if items|length > 0 %}
  <div class="flyntComponent componentSpacing {{ options.theme }}" id="{{ preContentHtml|lower|replace({' ': ''})}}" is="flynt-grid-resources-latest">
    <div class="container">
      <div class="preContent">
        {{ preContentHtml|e('wp_kses_post') }}
      </div>
      <ul class="grid">
        <div class="contentHeader">
          <div></div>
          <div>Date</div>
          <div>Where</div>
          <div>When</div>
        </div>
        {% for item in items %}
          <li class="grid-item">
            <div class="content">
              <div class="h2 content-title"><a href="{{ item.link }}" class="content-link" title="{{ item.title }}">{{ item.title }}</a></div>
              <div class="h3 content-date">
                {% if item.start_date %}
                  <span>{{ item.start_date|date("d.m.Y")|escape('wp_kses_post') }}</span>
                  <span>-</span>
                {% endif %}
                <span>{{ item.end_date|date("d.m.Y")|escape('wp_kses_post') }}</span>
              </div>
              <div class="h3 content-where">{{ item.postWhere }}</div>
              <div class="h3 content-what">{{ item.postWhat }}</div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endif %}
