{# {% if items|length > 0 %}
<div class="flyntComponent" is="flynt-block-maps">
  <div class="container">
    {% for item in items %}
    <div class="content">
      <div class="acf-map" data-zoom="14" data-key="{{apiKey}}">
        <div class="marker" data-lat="{{ item.locationProject.lat }}" data-lng="{{ item.locationProject.lng }}">
          <article>
            <h1>{{ item.title }}</h1>
          </article>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endif %} #}

<div class="flyntComponent" is="flynt-block-maps">
  <div class="container">
    <div class="content">
    {% for panel in maps %}
      <div class="acf-map" data-zoom="14" data-key="{{apiKey}}">
        <div class="marker" data-lat="{{ panel.marker.lat }}" data-lng="{{ panel.marker.lng }}" data-icon="{{ panel.customIcon }}">
          <p class="contentWindow">{{ panel.contentHtml|e('wp_kses_post') }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
